# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
.DS_Store

# DB (semillas con datos reales: queda versionado solo el .example)
dataBase/semillas/*
!dataBase/semillas/*.example.csv

# FRONTEND
node_modules/
dist/

# Entorno
.env
